body{background-color: #f5f8fa !important;font-family: 'Noto Sans', sans-serif;}

img.vote{
    padding: 8px;
    background-color: blue;
    border-radius: 6px;
}

img.no-vote{
    padding: 8px;
    background-color: #bbb;
    border-radius: 6px;
}

/*#unfollow-btn{
  display: none;
}*/

.image-ad img{
    margin: 0 0 10px 0;
}

.control-label{
    text-transform: capitalize;
}

.control-label-left{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
}

.panel-default>.panel-heading {
    text-transform: capitalize;
}

#jobs > option{
    width: 33%;
}

*:focus {
    outline: 0 !important;
}

.hoc_tap_success-btn,
.hoc_tap_delete-btn,
.hoc_tap_edit-btn{
    margin: 0 5px;
}

.form-hoc-tap-group{
    border-top:1px solid #ccc;
    padding-top: 15px;
}

.form-kinh-nghiem-group{
    border-top:1px solid #ccc;
    padding-top: 15px;
}

.first-form{
    border-top:none;
    padding-top: 15px;
}

.kinh-nghiem-hide{
    line-height: 30px;
    font-size: 16px;
    color: green;
}

.language-delete{
    padding: 0px;
    color: #fff;
    background: red;
    border-radius: 3px;
    margin-left: 15px;
}

.qualification-delete{
    padding: 0px;
    color: #fff;
    background: red;
    border-radius: 3px;
    margin-left: 15px;
}

#images-plus img{
    width: 250px;
    margin: 0 10px;
    border-radius: 3px;
    float: left;
}

.curriculumvitae{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 0;
}
.curriculumvitae .main-top{
    margin-bottom: 10px;
}

.curriculumvitae  .panel-heading{
    border-bottom: 1px dashed #ccc;
    text-transform: uppercase;
}

.message-danh-gia{
    color:#ccc;
    line-height: 34px;
}

.info-page .info-company{
    margin-top: 20px;
}

.info-page .info-company .border-blue h3{
    color: #2865dc;
    margin-top: 0;
    font-weight: bold;
}

@media (min-width: 992px) {
    .info-page .info-company .border-blue{
        border-left: 2px solid #2865dc;
        padding-left: 50px;
    }

    .info-page .info-company h5{
        margin-bottom: 20px;    
    }

    .info-page .info-company img{
        margin:30% 15% 0;
    }
}