*{margin:0;padding:0;}
body{background: white;height: 2000px;font-family:'Noto Sans',Helvetica, Arial, sans-serif!important}
a:hover{text-decoration: none!important;}
i{background: url("../images/bg.png");display: inline-block;}

header>.header-top nav{margin-bottom: 0!important;background-color: white}
header .navbar-header button{padding:5px;line-height: 0}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: #F8F8F8!important}
header>.header-top .navbar-header{padding: 0px}
header>.header-top{/*border-bottom: 1px solid #d1d2d2;*/font-size: 14px;line-height: 50px;box-shadow: 0 1px 5px rgba(0,0,0,0.2)}
header .header-top a{float: left;color:black;font-weight: bold;display: inline-block;margin-right: 40px}

header .header-top a:hover{color:#4f80c1;cursor: pointer;}
header .header-top i{display: inline-block;margin-right: 5px;margin-bottom: -3px}
header .header-top i{width: 18px;height: 20px;}
header .header-top .link-left a:nth-of-type(1) i{background-position: -80px -234px;margin-right: 3px;margin-bottom: -4px}
header .header-top .link-left a:nth-of-type(2) i{background-position: -30px -234px}
header .header-top .login{float: right;}
header .header-top .link-left a:nth-of-type(3) i{background-position: -56px -234px;height: 22px;margin-bottom: -4px}
header .header-top .login a:nth-child(1) {margin-right: 15px}
header .header-top .login a:nth-child(1) i{background-position: -107px -234px;height: 19px;width: 15px;margin-bottom: -4px}
header .header-top .login a:nth-child(2){margin: 0}
header .header-top .modal-content{border:none}
header .header-top .header-tab-login a{text-align: center;width: 100%;margin:0;color:black;font-size: 18px}
header .header-top .header-tab-login a:hover{color:white;background-color: #206DAF}
header .header-top .header-tab-login li{background-color: #d8d8d8}
header .header-top .header-tab-login li.active{background-color: white!important}
header .header-top .header-tab-login li.active a{background-color: white!important;color:black;}


header .header-top .tab-content{margin-top: 50px;padding:0 12%;}
header .header-top .tab-content input{height: 40px;border-radius: 2px;border:1px solid #e9e9e9;}
header .header-top .tab-content input:focus +span{display: none;}
header .header-top .tab-content input:focus{box-shadow: 0 1px 5px rgba(0,0,0,0.2);border:none;outline: none}
header .header-top .tab-content span.required{position: absolute;right: 2px;top:-20px;color:red;}
header .header-top .tab-content button{padding:10px 20px;background-color: #2a70b8}
header .header-top .tab-content select{border:1px solid #e9e9e9;border-radius: 2px;padding: 5px;margin-left: 10px}

header .header-top .form-group{margin-bottom: 20px;}
header .header-top .tab-content h3{text-align: center;color:#2a70b8;margin-bottom: 40px;font-size: 20px}

a.facebook,a.google{margin:0 10px 20px 10px!important;color:white!important;float:none!important;margin-bottom: 20px;line-height: 30px;padding:8px;padding-right: 20px;border-radius: 4px;background-color: #3a5898;color:white;display: inline-block;text-transform: uppercase;}
a.facebook i,a.google i{background-position: 0 -180px!important;width: 15px;height: 22px!important;margin-left: 5px!important}
a.google{background-color: #e91a12;}
a.google i{background-position: -108px -182px!important;height: 20px!important;width:27px!important;}
a.facebook:hover{background-color: #2D4B8A}
a.google:hover{background-color:#C20C05 }

header .header-mid{margin-top: 30px; border-bottom: 2px solid #d1d2d2;}
header .header-mid .logo{display: inline-block;}
header .header-mid form{width: 100%;padding:0; margin:0;margin-top: -10px;}
header .header-mid .city{display: inline-block;margin-top: 7px}
header .header-mid .city a{margin-right: 40px;color:#0d3655;font-size: 12px;font-weight: 600;display: inline-block;}
header .header-mid .city a:hover{color:#437cbd;}
header .header-mid .col-md-9{padding-right: 0}
header .header-mid form input{display: inline;padding:8px 10px;border-radius: 4px;border:1px solid #D8D6D6;margin-right: 5px;float: none;margin-top: 10px}
header .header-mid form input::placeholder{color:#C3C3C3;}
header .header-mid form select{background-color: transparent;height: 40px;border-radius: 4px;border:1px solid #D8D6D6;;margin-right: 5px;color:#929497;padding:5px 10px;padding-left: 25px}
header .header-mid form span{position: relative;display: inline-block;margin-top: 10px;}
header .header-mid form span i{position: absolute;bottom:12px;left: 12px;width: 12px;height: 13px;background-position: -130px -237px}
header .header-mid form button{width: 34px;height: 40px;border:none;background-color: transparent;;margin-left:-5px}
header .header-mid form button[type=submit] i{background-position:-84px -38px;width: 25px;height:26px;margin-bottom: -7px}

header .header-mid .contact{float: right;font-weight: bold;}
header .header-mid .contact i{width:20px;height: 20px;margin-bottom: -7px;margin-right: 5px}
header .header-mid .contact p:nth-of-type(1) i{background-position: -282px -236px}
header .header-mid .contact p:nth-of-type(2) i{background-position: -145px -236px}

header .header-bot{font-size: 13px;font-weight: bold;border-bottom: 2px solid #0D63E5;padding-bottom: 10px}
header .header-bot a{color:#0d3655;margin-top: 10px;display: inline-block;margin-right: 10px;/*border-right:1px solid #CDCDCD*/;padding-right: 10px}
header .header-bot a:hover{color:#437cbd;}
header .header-bot .menu-left{float: left;}
header .header-bot .menu-right{float: right;}
header .header-bot .menu-left i{width: 20px;height: 20px;margin-bottom: -6px}
header .header-bot .menu-left i{background-position: -235px -236px}
header .header-bot .menu-left a:nth-of-type(5){border:none;}
header .header-bot .menu-left a:nth-of-type(5) i{background-position: -207px -236px;margin-right: 5px;}
header .header-bot .menu-right a{margin-top: 5px}
header .header-bot .menu-right i{width: 30px;height: 25px;margin-bottom: -7px}
header .header-bot .menu-right a:nth-of-type(1) i{background-position: -251px -232px;margin-right: 5px;width: 24px;height: 25px;background-color: #4B4BF6;border-radius: 50%}
header .header-bot .menu-right a:nth-of-type(2) i{background-position: -171px -236px;}
header .header-bot .menu-right a:nth-of-type(2) {margin-right: 0;padding-right: 0}

.ads{margin-top: 20px;font-weight: bold;}

.ads a{text-align: center;color:black;display: inline-block;}
.ads .news {border:1px solid #D7D7D7;margin-top: 10px;color:black;}
.ads .news .col-md-6{border-right:1px solid #D7D7D7;}
.ads .news .col-md-6:nth-child(2){border: none}
.ads .news .top{border-bottom:2px solid #D7D7D7;font-size: 16px;font-weight:1000}
.ads .news a.active{color:#437cbd;}
.ads .news a:hover{color:#437cbd;}
.ads .top a,.ads .top span{display: block;line-height: 40px;text-align: center;}
.ads .title{text-align: center;margin-top: 10px}
.ads .contentsLeft{padding-bottom: 20px}
.ads .contentsLeft a{width: 25%;float: left;font-size: 12px;margin-top: 10px;font-weight: 600}
.ads .contentsRight{margin-top: 10px;font-size: 12px;text-align: center;padding-bottom: 20px}
.ads .contentsRight .col-md-3{padding:0!important;}
.ads .contentsRight p{margin-bottom: 0;padding: 5px 0;}
.ads .contentsRight div.point{display: block;width: 100%;position: relative;margin:10px 0;}
.ads .contentsRight a{width: 8px;height: 8px;background-color: #E0E0E0;display:inline-block;border-radius: 50%;position: absolute;top:-4px;margin-left: -4px	}
.ads .contentsRight a.active{background-color: #2a70b8;width: 10px;height: 10px;top:-5px;margin-left: -5px}
.ads .contentsRight a:hover{background-color: #2a70b8;width: 10px;height: 10px;top:-5px;margin-left: -5px}
.ads .contentsRight hr{margin:0;width:100%}
.ads .contentsRight hr.left{width: 50%;float: left;}
.ads .contentsRight hr.right{width: 50%;float: right;}

.ads .banner img{max-width: 100%;height: 95px;position: relative;border:1px solid #DCDADA;}
.ads .ads-top,.ads .ads-bot{width: 100%;text-align: center;}
.ads .ads-top img{height: 95px;width: 100%}
.ads .ads-bot{margin-top: 10px;}
.ads .ads-bot img{width: 100%;height: 200px;}

.list-logo{width: 100%;background: #eaeaea;margin-top: 20px}
.list-logo .wrapper{overflow: hidden;}
.list-logo .contents{padding:8px 0px;position: relative;width: 2000px;overflow: hidden;}
.list-logo .contents  li{float: left;list-style-type: none;display: inline-block;padding: 0 1px;height: 75px;width:75px;}
.list-logo .contents  a{float:left;display: inline-block;background: white;border-radius: 50%;overflow: hidden;text-align: center;padding:5px;width: 100%;height: 100%}
.list-logo .contents li img{height: 100%;width: auto;border:none;margin: 0px;vertical-align: middle;}
.list-logo span{border-radius: 50%;position: absolute;background: url("../images/bg.png") no-repeat;width: 21px;height: 22px;top:35px;display: inline-block;cursor: pointer;background-color: white}
.list-logo .btPrev{left: -40px;background-position: -148px -182px;z-index: 1000}
.list-logo .btNext{right: -40px;background-position: -169px -182px;z-index: 1000}

.list-info .row{margin-top: 20px;}
.list-info .title{font-weight: bold;padding-left: 5px;line-height: 30px;}
.list-info .title span{font-size: 22px;float: left;display: inline;color:#000;position: relative;}
.list-info .title span i{position: absolute;}
.list-info .title a{float:right;font-size: 16px;color:#2a70b8;}
.list-info .title a i{background-position: -268px -212px;width: 15px;height: 13px;margin-bottom: -1px;margin-left: 3px}
i.hot{background-position: -47px -135px;width: 50px;height: 35px;right: -55px;top:-9px;}
i.new{background-position: 0 -38px;width: 35px;height: 20px;margin-bottom: -6px;margin-left: 7px}

.vip-candidates .item-u{width: 200px;padding:10px 5px;font-size: 13px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;position: relative;float: left;;}
.vip-candidates .item-u a{position: relative;;overflow: hidden;width:100%;display: inline-block;border:1px solid #F2F2F2;box-shadow: 0 2px 1px rgba(0,0,0,0.1);border-radius: 4px;color:#858585;}
.vip-candidates .item-u .img{width: 100%;text-align: center;height: 126px;line-height: 126px}
.vip-candidates .item-u .img img{width: 80px;height: 80px;border-radius: 50%;box-shadow: 0 0px 5px rgba(0,0,0,0.1);}
.vip-candidates .item-u .name{color:black;text-transform: uppercase;font-weight: 600;}
.vip-candidates .item-u .university{margin-bottom: 14px}
.vip-candidates .item-u .view{position: absolute;top:200px;left: 0;width: 100%;height: 100%;font-size: 12px}
.vip-candidates .item-u .view .info{height: 126px;width: 100%;background-color: #eaeaea}
.vip-candidates .item-u .view .info .sub-img{float: left;width: 35%;text-align: center;height: 100%;}
.vip-candidates .item-u .view .info .sub-img .border{display: inline-block;margin-top: 15px;border-radius: 50%;box-shadow: 0 0px 5px rgba(0,0,0,0.1);width: 45px;height: 45px;overflow: hidden;}
.vip-candidates .item-u .view .info .sub-img .border img{width: 100%;height: 100%;}
.vip-candidates .item-u .view .info p{margin: 0;margin-bottom:-10px;padding-top: 15px;word-wrap: break-word;overflow: hidden;text-overflow: ellipsis;
display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.vip-candidates .item-u .view .link{text-align: center;font-size: 16px;background-color: #404040;line-height: 62px;color:white;}
@keyframes floatUp {from {top: 200px;}to {top: 0;}}

.need-jobs .wrapper{float: left;}
.need-jobs #col-ads{float: right;margin-top: 10px;padding: 0 5px;height: 100%;text-align: center;}
.need-jobs #col-ads a{display: inline-block;}
.need-jobs #col-ads img{height: 394px;width: 100%;}


.list-info .wrapper {position: relative;}
.list-info .wrapper .next img,.prev img{background: white;padding:8px 10px ;border:1px solid #c9c9c9;border-radius: 50%;height: 30px;width:30px;text-align: center;}
.list-info .wrapper .next{margin-top: 10px;margin-right: -15px;height: 190px;width: 40px;line-height: 190px;text-align: center;position: absolute;right: 0;z-index: 1000}
.list-info .wrapper .prev{margin-top: 10px;margin-left: -15px;height: 190px;width: 40px;line-height: 190px;text-align: center;position: absolute;left: 0;z-index: 1000;}
.list-info .wrapper .prev button{background-position: -60px -60px;}
.list-info .wrapper .next img:hover,.prev img:hover{background: #c9c9c9;}
.list-info .wrapper .contents{display: inline-block;}

.item-work{padding:0 5px;width: 200px;float: left;margin-top: 10px}
.item-work .border-item{border-top: 3px solid#2a70b8;overflow: hidden;position: relative;}
.item-work .border-item{box-shadow: 0 0px 2px rgba(0,0,0,0.2)}
.item-work a{width: 100%;border:1px solid #dce7f3;margin-top:0;display: inline-block;border-top: none;color:black;padding:0px 1px}
.item-work .details{position: relative;background: white;border-top: 1px solid #c9c9c9;margin: 0;width: 100%;height: 68px}
.item-work .single{padding: 17px 10%}
.item-work .single p{font-weight: bold;margin: 0;font-size: 12px;width: 100%;}
.item-work .single p{text-align: center;background: white;word-wrap: break-word;overflow: hidden;text-overflow: ellipsis;
display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}

.item-work .work-view{background: white;position: absolute;top:-1px;left: 0px;width: 100%;display: none;margin: 0;padding: 0 1px}
.item-work .work-view i{background-image: url("../images/bg.png");width: 20px ;height: 15px;display: inline-block;margin-bottom: -3px;margin-right: 15px}
.item-work .work-view .location i{background-position:-20px -60px;;}
.item-work .work-view .salary i{background-position:0 -60px}
.item-work .work-view .salary,.location{font-size: 12px;height: 33px;background: #2a70b8;padding: 0px 20px;line-height: 33px;color:white;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;margin:0 -2px;}
.item-work .work-view .location{margin-bottom: 2px;}

.work-img{height: 120px;text-align: center;background: white;margin:-3px -1px -3px -1px;height: 100%;border: 3px solid transparent;line-height: 120px}
.work-img img{width: auto;height: 70%;position: relative;}

.item-work a:hover{color:black;}
.item-work a:hover{padding:0;}
.item-work a:hover .work-img{border-color:#2a70b8;border-bottom-color: transparent;}
.item-work a:hover .work-view{display:block;}

.item-work span.icon-new{position: absolute;left: 0;z-index: 1100;width: 100%;margin-right: 3px;}
.item-work .icon-new img{max-width: 25%;width: auto;float: right;}

.new-jobs .mobile a{overflow: visible;}
.new-jobs .mobile .details{height: 136px}
.new-jobs .mobile .work-img{margin:0;}
.new-jobs .mobile .work-view{display: block;top: 68px!important}

.new-employer .item-work .border{box-shadow: 0 0px 0px rgba(0,0,0,0)}
.new-employer .item-work .work-img img{height: 80%;}
.new-employer .item-work a{overflow: hidden;}
.new-employer .item-work a:hover .work-img{border-color: transparent;background-color:rgba(0,0,0,0.2);}
.new-employer .item-work .work-view p{line-height: 68px;padding-bottom: 1px;margin:-1px -1px -1px -1px;text-align: center;font-size: 20px;color:white;background-color:#666666 }
.new-employer .item-work .details{border:none;}
.new-employer .item-work .single {padding:20px 10px;}
.new-employer .item-work .single p{font-weight: bold;font-size: 16px}
.new-employer .item-work .border-item{border:none;overflow: visible;box-shadow: none}
.new-employer .item-work a{border: 2px solid #197b30;}
.new-employer .item-work .work-view{top:1px;}
.list-info .mobile .next{height: 350px;line-height: 250px;margin: 0}
.list-info .mobile .prev{height: 350px;line-height: 250px;margin: 0}

.list-number{margin-top: 50px}
.list-number .col-md-5{text-align: right;}
.list-number .col-md-3 {padding-top: 40px;border-right: 1px solid #eee;height: 130px;font-weight: bold}
.list-number .col-md-3:nth-child(1){border-left: 1px solid #eee;}
.list-number .col-md-3 i{width: 30px;height: 55px;}
.list-number .col-md-3:nth-child(1) i{background-position: -120px 0}
.list-number .col-md-3:nth-child(2) i{background-position: -158px 0}
.list-number .col-md-3:nth-child(3) i{background-position: -200px 0}
.list-number .col-md-3:nth-child(4) i{background-position: -240px 0}
.list-number .col-md-3 p.text{font-size: 12px;color:#9C9EA3;letter-spacing: -1px;margin-bottom: 5px}
.list-number .col-md-3 p.number{font-size: 26px;color:black;}
.list-number .col-md-3 p.number a{color:#b1b3b4;line-height: 10px;margin-bottom: -10px;font-size: 20px;font-weight: normal;padding:1px;padding-bottom: 5px;display: inline-block;border-radius: 50%;border:1px solid #ececec;}
.list-number .col-md-3 p.number a:hover{background: #E0E0E0}

footer{width: 100%;margin-top: 100px;border-top: 3px solid #2A70B8}
.footer-top{margin: 40px 0;color:#9B9B9B;border-bottom: 1px solid #E9E9E9;padding-bottom: 10px}
.footer-top .title{text-transform: uppercase;font-size: 14px;color:#5c5c5c;font-weight: bold;}
.footer-top p{margin-bottom: 20px;font-size: 13px}
.footer-top a{color:#959595;font-weight: bold;}
.footer-top a:hover{color:#427cbd;}
.footer-top .footer-col{margin-bottom: 20px}
.footer-top .contact{text-align: center;}
.footer-top .mxh a{width: 47px;height: 50px;background: url("../images/bg.png") no-repeat;display: inline-block;margin-right: -3px;}
.footer-top .mxh a:nth-child(1){background-position:0px -80px;}
.footer-top .mxh a:nth-child(2){background-position:-50px -80px;}
.footer-top .mxh a:nth-child(3){background-position:0px -132px}
.footer-top .app a{width: 170px;height: 52px;background: url("../images/bg.png") no-repeat;display: inline-block;}
.footer-top .app a:nth-child(1){background-position:0 -535px}
.footer-top .app a:nth-child(2){background-position:-177px -535px}
.footer-bot{font-size: 11px;color:#9B9B9B;margin-bottom: 50px}
.footer-bot p{margin-bottom: 0px;}

@media (min-width: 1200px) {
  .container {
  	 width: 1000px !important;
  }
}
@media(max-width: 1000px){
	header{text-align: center;}
	header .header-mid .city a{width: 30%;margin-right: 0}
	header .header-mid .contact{float: none;margin-top: 20px;margin-bottom: -20px}
	header .header-bot a{margin-right: 0}
	header .header-bot .menu-left{float: none}
	header .header-bot .menu-right{float: none;}

	.list-logo .btPrev{left: 0}
	.list-logo .btNext{right: 0}
	.ads .news .col-md-6{border: 1px solid #D7D7D7!important;margin-bottom: 20px}
	.ads .news{border:none;}
	.ads .ads-top img{height: auto;max-width: 100%}
	.ads .ads-bot img{max-width: 100%;height: auto;}
	.list-info .title span{font-size: 18px;}
	.list-info .title a{font-size: 13px}
}
@media(max-width: 768px){
	header .header-top .link-left{text-align: left;}
	header .header-top .link-left a{margin-left: 10px;float: none;display: block;}
	header .header-top .login{float: none;text-align: left;}
	header .header-top .login a{margin-left: 10px;display: block;float: none}
	header .header-top .login a:nth-child(2){margin-left: 30px}
	header>.header-top {line-height: 40px}
	header .header-top .login .nav-justified li{width: 50%;float: left;}
	header .header-top .login .nav-justified li a{margin: 0}

}
@media(max-width: 600px){
	.need-jobs #col-ads{width: 100%;text-align: center;}
	.need-jobs #col-ads img{width: auto}
}